<h2><%= current_user.first_name %>'s List</h2>

<h3>Your List has <%= pluralize(current_user.reviews.count, "review") %>.</h3>

<% @reviews.each do |review| %>
  <p>
    <strong>Location:</strong>
    <%= review.location %>
  </p>
   <p>
    <strong>Type:</strong>
    <%= review.variety %>
  </p>
   <p>
    <strong>Description:</strong>
    <%= review.description %>
  </p>
   <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p><br>
<% end %>

<%= button_to 'Add Review', new_user_review_path, method: :get %>
