<!DOCTYPE html>
<html>
<head>
  <title>HowItRates</title>
  <link href='http://fonts.googleapis.com/css?family=Over+the+Rainbow' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">How It Rates</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li><%= link_to "Sign In", new_user_session_path, method: :get %></li>
              
            <% end %>
            <% if current_user %>
              <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-success navbar-btn"%></li>
            <% end %>
          </ul>
        </div>  
      </div>
    </nav>
  

  <!-- <div class="container"> -->
    <!-- 
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->
      <%= yield %>
   
  <!-- </div> -->
</body>
</html>
